
/* RESET THE BASIC SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FOR THE ALL PAGE*/
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

body{
    background-image: url('images/background/background-900px.png');
    background-size: cover; /*cover the entire page*/
    background-repeat: no-repeat; /*do not repeat the image*/
    background-position: center; /*center the image*/
    
    width: 100%; /* full width */
    height: 100%; /* full height */
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#how-to-play-area, #game-area {
    background-color: rgb(239, 55, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}