/* Google Fonts & CSS Variables */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Quicksand:wght@300..700&display=swap');

/* Hidden sections by default */
#how-to-play-area,
#game-area,
#end-screen {
  display: none;
}

:root {
  /* Colors */
  --text-color: #73463a;
  --dark-violet: #664059;
  --light-violet: #9a6086;
  --dark-orange: #ac7565;
  --light-orange: #f6bb9d;

  /* Fonts */
  --font-title: 'Baloo 2', cursive;
  --font-text: 'Quicksand', sans-serif;
}

/* Reset */
* {
  margin: 0; /*Removes default browser spacing on all elements */
  padding: 0;
  box-sizing: border-box; /* Prevent text selection and dragging */
  user-select: none; /*Prevents text selection to be highlighted*/
  -webkit-user-drag: none; /*Prevents dragging*/
}

/* Page layout */
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
  position: relative; /* For positioning background and other absolute elements */
}

/* Universal background that respects 1800px constraint */
body::before {
  content: ''; /* Necessary for pseudo-element */
  position: fixed; /* Creates an invisible element (pseudo-element) that acts as a background layer */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  max-width: 1800px; /* Maximum width for large screens */
  background-image: url('images/background/background-small-screen.png');
  background-size: cover; /* Cover entire viewport */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the background image */
  z-index: -1; /* Place behind all content */
}

/* #region Menu styles */

#menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  min-height: 100dvh;
}

#game-title {
  font-family: var(--font-title);
  font-size: clamp(3rem, 5vw, 4rem);
  color: var(--text-color);
  justify-items: center;
  margin-top: 4rem;
}

#menu-btn {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

#raccoon {
  grid-row: 3;
  align-self: end;
  width: clamp(12rem, 25vw, 17rem);
}

#raccoon,
#raccoon-game-area {
  display: block;
  pointer-events: none;
  user-select: none;
}

#bushes,
#bushes-end {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

#raccoon-game-area {
  width: 8rem;
  height: auto;
  order: 2;
}

#bushes,
#bushes-end {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}
/* #endregion Menu styles */


/* #region How to play area styles */
#how-to-play-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  place-items: center;
  min-height: 100dvh;
}

.htp-title {
  font-family: var(--font-title);
  font-size: 3rem;
  color: var(--text-color);
}

.instructions-text {
  font-family: var(--font-text);
  font-size: 1.1rem;
  color: var(--text-color);
}

.htp-container {
  border-radius: 10px;
  margin: 1rem;
}
/* #endregion How to play area styles */


/* #region personalised button styles for all buttons */

/* Basic style for buttons */
#start-btn,
#how-to-play-btn {
  font-family: var(--font-text);
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  cursor: pointer;
}

/* violets buttons color styles */
#start-btn,
#score,
#timer,
#retry-btn,
#ok-btn,
#end-screen .btn-secondary,
.back-btn,
.back-btn-form,
.submit-btn {
  background-color: var(--light-violet);
  border: 3px solid var(--dark-violet);
  color: white;
}

#start-btn,
#player-form .btn-secondary,
#game-area .btn-secondary,
#end-screen .btn-secondary {
  font-family: var(--font-text);
  background-color: var(--light-violet);
  border-color: var(--dark-violet);
  color: white;
}

#start-btn:hover,
#player-form .btn-secondary:hover,
#game-area .btn-secondary:hover,
#end-screen .btn-secondary:hover {
  background-color: var(--dark-violet);
  border-color: var(--dark-violet);
  color: white;
}

/* orange button and form color styles */
#how-to-play-btn,
#player-form,
#speech-bubble,
.htp-container {
  background-color: var(--light-orange);
  border: 3px solid var(--dark-orange);
  color: var(--text-color);
}

#how-to-play-btn:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
  color: white;
}

/* #endregion */

/*#region player form styles */
#player-form {
  max-width: 25rem;
}

#form-instruction {
  font-family: var(--font-text);
  font-size: 1.2rem;
}

/* personalised placeholder */
#player-form input::placeholder {
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--dark-orange);
}

/* personaliser border in input text */
#player-form input[type="text"] {
  border: 3px solid var(--dark-orange)
}

/* Enlever le highlight au focus */
#player-form input[type="text"]:focus {
  border-color: var(--dark-orange);
  box-shadow: none;
  outline: none;
}

.enterNameMsg {
  font-family: var(--font-text);

  border: 2px solid var(--dark-orange);

  color: var(--text-color);
  background-color: rgb(255, 224, 199);
}

/* Form buttons container */
.submit-btn,
.back-btn-form {
  font-family: var(--font-text);
  cursor: pointer;
}

/*#endregion*/

/* #region Game area styles */
#game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 105vh;
  position: relative;
  padding: 4rem 0.8rem 0.8rem 0.8rem;
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  width: fit-content;
}

#grid-container .game-card {
  position: relative;
  width: 4.3rem;
  height: 6.5rem;
  perspective: 1000px;
  cursor: pointer;
  overflow: visible;
  background: transparent !important;
  border: none !important;
  transform-style: preserve-3d;
  justify-self: center;
  align-self: center;
}

#grid-container .game-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
  object-fit: cover;
  border: none !important;
  transform-style: preserve-3d;
}

#grid-container .card-front {
  transform: rotateY(180deg);
  /* Hidden by default */
}

#grid-container .card-back {
  transform: rotateY(0);
  /* Visible by default */
}

#grid-container .game-card.flipped .card-front {
  transform: rotateY(0);
  /* Visible when flipped */
}

#grid-container .game-card.flipped .card-back {
  transform: rotateY(180deg);
  /* Hidden when flipped */
}


#game-area .back-btn {
  position: absolute;
  top: 0.2rem;
  left: 0.8rem;
  font-size: 0.9rem;
  padding: 0.6rem 0.9rem;
  z-index: 20;
}

#bottom-hud {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  order: 1;
  top: 2rem;
}

#score,
#timer {
  display: inline-block;
  font-family: var(--font-text);
  font-weight: bold;
  position: static;
  text-align: center;
  cursor: default;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  padding: 0.5rem 0.6em;
  border-radius: 6px;
  width: 7rem;
}

.speech-bubble-container {

}

#speech-bubble {
  width: 18rem;
  text-align: center;
  word-break: break-word;
  font-size: 0.8rem;
  padding: 1rem;
  pointer-events: auto;
  animation: pop-in 0.2s ease-out;
  font-family: var(--font-text);
}

/* Pop-in animation for speech bubble */
@keyframes pop-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}


/* #endregion */

/* #region End screen styles */
#end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--light-orange);
  border: 3px solid var(--dark-orange);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18.7rem;
  z-index: 100;
}

#retry-btn,
#ok-btn {
  font-family: var(--font-text);
  font-weight: bold;
  padding: 0.8rem 0.8rem;
  font-size: 1.2rem;
  min-width: 7.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.end-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-text);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
}

#end-title {
  font-size: 2rem;
  align-self: center;
  text-align: center;
  overflow-wrap: break-word;
  max-width: 100%;
  line-height: 1.2;
}

#highscores {
  margin-top: 0.5rem;
}

#highscores-list {
  margin-top: 0.5rem;
  list-style-position: inside;
  text-align: left;
  padding-left: 0;
}

#highscores-list li {
  padding-left: 0.8rem;
}

.highlight {
  background-color: beige;
  color: var(--text-color);
  font-weight: bold;
  border: 3px solid var(--dark-orange);
  border-radius: 10px;
  padding: 2px 12px;
}

/* #endregion End screen styles */


/*Large phone screens to tablet 576px to 768px */
@media (min-width: 576px) and (max-width: 768px) {
  body::before {
    background-image: url('images/background/background-tablet.png');
  }

  h1,
  #game-title {
    font-size: 3rem !important;
  }

}

/*Tablet screen to small laptop 769px to 992px */
@media(min-width: 769px) and (max-width: 992px) {
  body::before {
    background-image: url('images/background/background-laptop.png');
  }



}

/*Small laptop to large laptop 993px to 1200px */
@media (min-width:993px) and (max-width: 1200px) {
  body::before {
    background-image: url('images/background/background-laptop.png');
  }

  h1,
  #game-title {
    font-size: 3.5rem !important;
  }
}

/*Large laptop and up 1201px+ */
@media (min-width:1200px) and (max-width: 1400px) {
  body::before {
    background-image: url('images/background/background-large-laptop.png');
  }

  h1,
  #game-title {
    font-size: 4rem !important;
  }

  
}

/* Extra large screens 1400px+ */
@media (min-width: 1400px) {
  body::before {
    background-image: url('images/background/background-large-laptop.png');
  }

  h1,
  #game-title {
    font-size: 4rem !important;
  }

  
}